.mpp {
  width: 100%;
  padding: 48px 374px 50px 376px;
  box-sizing: border-box;
  background-color: #f4f5f8;
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.mpp-wrp {
  width: 530px;
}
.mpp-wrp-tittle {
  font-family: raleway;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  color: #ffffff;
  margin: 0 0 8px 0;
}
.mpp-wrp-tittle span {
  font-family: raleway;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  color: #c7b299;
}
.mpp-wrp-text {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  color: #615855;
  margin: 0;
}
.mpp-btn {
  width: 170px;
  height: 50px;
  background-color: #998675;
  box-shadow: inset 0px -3px 0px 0px #736357;
  border-radius: 3px;
  font-family: raleway;
  font-weight: 800;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
}
.mpp-btn:hover {
  color: #000000;
  background-color: #c4b9b0;
}
.mpp-btn:active {
  color: #ffffff;
  background-color: #998675;
}
