.realization {
  width: 100%;
  padding: 83px 0 0 0;
  box-sizing: border-box;
  background-color: #fbfaf8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.realization-tittle {
  width: 100%;
  text-align: center;
  font-family: raleway;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  color: #555555;
  margin: 0 0 24px 0;
}
.realization-text {
  width: 757px;
  text-align: center;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
  margin: 0 0 40px 0;
}
.realization-box {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.realization-box-img-left {
  width: 770px;
  height: 400px;
  position: relative;
  top: 0;
  left: 540px;
}
.realization-box-img-center {
  width: 770px;
  height: 482px;
  position: relative;
  top: 0;
  z-index: 3;
}
.realization-box-img-right {
  width: 770px;
  height: 400px;
  position: relative;
  top: 0;
  right: 540px;
}
