@font-face {
  font-family: 'raleway';
  src: url(../fonts/raleway-regular-webfont.woff2) format('woff2'), url(../fonts/raleway-regular-webfont.woff) format('woff'), url(../fonts/raleway-regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url(../fonts/raleway-medium-webfont.woff2) format('woff2'), url(../fonts/raleway-medium-webfont.woff) format('woff'), url(../fonts/raleway-medium.ttf) format('ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url(../fonts/raleway-semibold-webfont.woff2) format('woff2'), url(../fonts/raleway-semibold-webfont.woff) format('woff'), url(../fonts/raleway-semibold.ttf) format('ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url(../fonts/raleway-extrabold-webfont.woff2) format('woff2'), url(../fonts/raleway-extrabold-webfont.woff) format('woff'), url(../fonts/raleway-extrabold.ttf) format('ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/montserrat-regular-webfont.woff2) format('woff2'), url(../fonts/montserrat-regular-webfont.woff) format('woff'), url(../fonts/montserrat-regular.otf) format('otf');
  font-weight: 300;
  font-style: normal;
}
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
/*----- header -----*/
.page-header {
  width: 100%;
  padding: 40px 150px 40px 150px;
  box-sizing: border-box;
  background-color: rgba(17, 17, 17, 0.7);
  background-image: url(../img/bg_photo.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.page-header-top {
  width: 100%;
  margin: 0 0 285px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-header-top-logo {
  text-decoration: none;
  font-family: raleway;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin: 0 219px 0 0;
}
.page-header-top-logo-icon {
  fill: currentColor;
}
.page-header-top-logo:hover {
  color: #c7b299;
}
.page-header-top-logo:active {
  color: #ffffff;
}
.page-header-top-menu {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  margin: 0 63px 0 0;
}
.page-header-top-menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
}
.page-header-top-menu-list-item {
  margin: 0 30px 0 0;
}
.page-header-top-menu-list-item-link {
  text-decoration: none;
  color: #ffffff;
}
.page-header-top-menu-list-item-link :last-child {
  margin: 0;
}
.page-header-top-menu-list-item-link:hover {
  color: #c7b299;
}
.page-header-top-menu-list-item-link:active {
  color: #ffffff;
}
.page-header-top-basket {
  color: #ffffff;
  margin: 0 28px 0 0;
}
.page-header-top-basket-icon {
  fill: currentColor;
}
.page-header-top-basket:hover {
  color: #c7b299;
}
.page-header-top-basket:active {
  color: #ffffff;
}
.page-header-top-search {
  color: #ffffff;
}
.page-header-top-search-icon {
  fill: currentColor;
}
.page-header-top-search:hover {
  color: #c7b299;
}
.page-header-top-search:active {
  color: #ffffff;
}
.page-header-bot {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.page-header-bot-switchleft {
  width: 40px;
  height: 73px;
  opacity: 0.5;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  color: #ffffff;
}
.page-header-bot-switchleft-svg {
  fill: currentColor;
}
.page-header-bot-switchleft:hover {
  color: #d3c1ad;
}
.page-header-bot-switchleft:active {
  color: #ffffff;
}
.page-header-bot-box {
  width: 640px;
  text-align: center;
}
.page-header-bot-box-topttl {
  font-family: raleway;
  font-weight: 500;
  font-size: 36px;
  color: #ffffff;
  margin: 0 0 14px 0;
}
.page-header-bot-box-mainttl {
  font-family: raleway;
  font-weight: 800;
  font-size: 52px;
  color: #ffffff;
  line-height: 1.2;
  margin: 0 0 19px 0;
}
.page-header-bot-box-txt {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 0 52px 0;
}
.page-header-bot-box-btn {
  width: 170px;
  height: 53px;
  background-color: #998675;
  box-shadow: inset 0px -3px 0px 0px #736357;
  border-radius: 3px;
  font-family: realeway;
  font-weight: 800;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
}
.page-header-bot-box-btn:hover {
  color: #000000;
  background-color: #c4b9b0;
}
.page-header-bot-box-btn:active {
  color: #ffffff;
  background-color: #998675;
}
.page-header-bot-switchright {
  width: 40px;
  height: 73px;
  opacity: 0.5;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  color: #ffffff;
}
.page-header-bot-switchright-svg {
  fill: currentColor;
}
.page-header-bot-switchright:hover {
  color: #d3c1ad;
}
.page-header-bot-switchright:active {
  color: #ffffff;
}
.page-header-bot-pagination {
  width: 100%;
  margin: 329px 0 0 0;
  display: flex;
  justify-content: center;
}
.page-header-bot-pagination-item {
  display: block;
  width: 11px;
  height: 11px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid transparent;
  margin: 0 10px 0 0;
}
.page-header-bot-pagination-item:last-child {
  margin: 0;
}
.page-header-bot-pagination-item:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #d3c1ad;
  transform: scale(1.2);
}
/*----- end header -----*/
/*----- main -----*/
/*----- instruments -----*/
.instruments {
  width: 100%;
  padding: 80px 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.instruments-card {
  width: 266px;
  margin: 0 34px 0 0;
  text-align: center;
  color: #555555;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.instruments-card-svg {
  fill: currentColor;
}
.instruments-card-tittle {
  width: 100%;
  font-family: Raleway;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2;
  margin: 30px 0 19px 0;
}
.instruments-card-txt {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #8c8c8c;
  margin: 0 0 30px 0;
}
.instruments-card:last-child {
  margin: 0;
}
.instruments-card:after {
  content: '';
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}
.instruments-card:hover .instruments-card-svg {
  color: #c7b299;
}
.instruments-card:hover .instruments-card-tittle {
  color: #c7b299;
}
.instruments-card:hover:after {
  background-color: #c7b299;
}
/*----- end instruments -----*/
/*----- realization -----*/
.realization {
  width: 100%;
  padding: 83px 0 0 0;
  box-sizing: border-box;
  background-color: #fbfaf8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.realization-tittle {
  width: 100%;
  text-align: center;
  font-family: raleway;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  color: #555555;
  margin: 0 0 24px 0;
}
.realization-text {
  width: 757px;
  text-align: center;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
  margin: 0 0 40px 0;
}
.realization-box {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.realization-box-img-left {
  width: 770px;
  height: 400px;
  position: relative;
  top: 0;
  left: 540px;
}
.realization-box-img-center {
  width: 770px;
  height: 482px;
  position: relative;
  top: 0;
  z-index: 3;
}
.realization-box-img-right {
  width: 770px;
  height: 400px;
  position: relative;
  top: 0;
  right: 540px;
}
/*----- end realization -----*/
/*----- Multipurpose (mpp) -----*/
.mpp {
  width: 100%;
  padding: 48px 374px 50px 376px;
  box-sizing: border-box;
  background-color: #f4f5f8;
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.mpp-wrp {
  width: 530px;
}
.mpp-wrp-tittle {
  font-family: raleway;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  color: #ffffff;
  margin: 0 0 8px 0;
}
.mpp-wrp-tittle span {
  font-family: raleway;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  color: #c7b299;
}
.mpp-wrp-text {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  color: #615855;
  margin: 0;
}
.mpp-btn {
  width: 170px;
  height: 50px;
  background-color: #998675;
  box-shadow: inset 0px -3px 0px 0px #736357;
  border-radius: 3px;
  font-family: raleway;
  font-weight: 800;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
}
.mpp-btn:hover {
  color: #000000;
  background-color: #c4b9b0;
}
.mpp-btn:active {
  color: #ffffff;
  background-color: #998675;
}
/*----- end multipurpose (mpp) -----*/
/*----- Projects -----*/
.projects {
  width: 100%;
  padding: 81px 161px 80px 161px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects-tittle {
  width: 100%;
  text-align: center;
  margin: 0 0 24px 0;
  font-family: raleway;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  color: #555555;
}
.projects-text {
  width: 757px;
  text-align: center;
  margin: 0 0 40px 0;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
}
.projects-list {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin: 0 0 40px 0;
  display: flex;
  justify-content: center;
}
.projects-list-item {
  list-style-type: none;
  margin: 0 10px 0 0;
}
.projects-list-item-btn {
  width: 120px;
  height: 32px;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(17, 17, 17, 0);
  border: 1px solid #ebebeb;
  border-radius: 3px;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #8c8c8c;
}
.projects-list-item-btn:hover {
  background-color: #998675;
  color: #ffffff;
}
.projects-list-item-btn:active {
  background-color: #ffffff;
  color: #998675;
}
.projects-list-item:first-child button {
  width: 70px;
}
.projects-list-item:last-child button {
  width: 135px;
}
.projects-list-item:last-child {
  margin: 0;
}
.projects-card {
  width: 370px;
  min-height: 337px;
  margin: 0 30px 30px 0;
  position: relative;
}
.projects-card-img {
  width: 370px;
  height: 237px;
  display: block;
}
.projects-card-wrp {
  background-color: #fbfaf8;
  padding: 30px 0 27px 28px;
  box-sizing: border-box;
  position: relative;
}
.projects-card-wrp:before {
  content: '';
  position: absolute;
  border: 15px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  top: -25px;
  left: 19px;
}
.projects-card-wrp-heading {
  font-family: raleway;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #c7b299;
  margin: 0 0 14px 0;
}
.projects-card-wrp-text {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #d1d1d1;
  margin: 0;
}
.projects-card:hover .projects-card-img {
  filter: brightness(30%);
}
.projects-card:hover .projects-card-wrp {
  background-color: #362f2d;
}
.projects-card:hover .projects-card-wrp:before {
  border-bottom: 10px solid #362f2d;
}
.projects-card:hover .projects-card-wrp-heading {
  color: #ffffff;
}
.projects-card:hover .projects-card-wrp-text {
  color: #c7b299;
}
.projects-card:hover .projects-card-btn-link {
  display: block;
  color: #ffffff;
}
.projects-card:hover .projects-card-btn-search {
  display: block;
  color: #ffffff;
}
.projects-card:hover .projects-card-btn-link-svg,
.projects-card-btn-search-svg {
  fill: currentColor;
}
.projects-card-btn-link,
.projects-card-btn-search {
  width: 26px;
  height: 26px;
  display: none;
  position: absolute;
  top: 106px;
  padding: 0;
  box-sizing: border-box;
  background: none;
  border: none;
}
.projects-card-btn-link {
  left: 144px;
}
.projects-card-btn-search {
  right: 146px;
}
.projects-card-btn-link-svg:hover,
.projects-card-btn-search-svg:hover {
  color: #c7b299;
}
.projects-card-btn-link-svg:active,
.projects-card-btn-search-svg:active {
  color: #ffffff;
}
.projects-box {
  width: 100%;
  text-align: center;
}
.projects-box-btn {
  width: 170px;
  height: 50px;
  background-color: #998675;
  box-shadow: inset 0px -3px 0px 0px #736357;
  border-radius: 3px;
  font-family: Raleway;
  font-weight: 800;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
}
.projects-box-btn:hover {
  color: #000000;
  background-color: #c4b9b0;
}
.projects-box-btn:active {
  color: #ffffff;
  background-color: #998675;
}
/*----- end Projects -----*/
