@font-face {
  font-family: 'raleway';
  src: url(../fonts/raleway-medium-webfont.woff2) format('woff2'), url(../fonts/raleway-medium-webfont.woff) format('woff'), url(../fonts/raleway-medium.ttf) format('ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url(../fonts/raleway-semibold-webfont.woff2) format('woff2'), url(../fonts/raleway-semibold-webfont.woff) format('woff'), url(../fonts/raleway-semibold.ttf) format('ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url(../fonts/raleway-bold-webfont.woff2) format('woff2'), url(../fonts/raleway-bold-webfont.woff) format('woff'), url(../fonts/raleway-bold.ttf) format('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url(../fonts/raleway-extrabold-webfont.woff2) format('woff2'), url(../fonts/raleway-extrabold-webfont.woff) format('woff'), url(../fonts/raleway-extrabold.ttf) format('ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url(../fonts/montserrat-extralight-webfont.woff2) format('woff2'), url(../fonts/montserrat-extralight-webfont.woff) format('woff'), url(../fonts/montserrat-extraLight.otf) format('otf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url(../fonts/montserrat-light-webfont.woff2) format('woff2'), url(../fonts/montserrat-light-webfont.woff) format('woff'), url(../fonts/montserrat-light.otf) format('otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url(../fonts/montserrat-regular-webfont.woff2) format('woff2'), url(../fonts/montserrat-regular-webfont.woff) format('woff'), url(../fonts/montserrat-regular.otf) format('otf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'roboto';
  src: url(../fonts/roboto-regular-webfont.woff2) format('woff2'), url(../fonts/roboto-regular-webfont.woff) format('woff'), url(../fonts/roboto-regular.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'myriadpro';
  src: url(../fonts/myriadpro-regular.woff) format('woff'), url(../fonts/myriadpro-regular.ttf) format('ttf'), url(../fonts/myriadpro-regular.eot) format('eot');
  font-weight: 400;
  font-style: normal;
}
.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
/*----- header -----*/
.page-header {
  width: 100%;
  padding: 40px 150px 40px 150px;
  box-sizing: border-box;
  background-color: rgba(17, 17, 17, 0.7);
  background-image: url(../img/bg_photo.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.page-header-top {
  width: 100%;
  margin: 0 0 285px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-header-top-logo {
  text-decoration: none;
  font-family: raleway;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin: 0 219px 0 0;
}
.page-header-top-logo-icon {
  fill: currentColor;
}
.page-header-top-logo:hover {
  color: #c7b299;
}
.page-header-top-logo:active {
  color: #ffffff;
}
.page-header-top-menu {
  font-family: montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
  margin: 0 63px 0 0;
}
.page-header-top-menu-checkbox,
.page-header-top-menu-btn {
  display: none;
}
.page-header-top-menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
}
.page-header-top-menu-list-item {
  margin: 0 30px 0 0;
}
.page-header-top-menu-list-item-link {
  text-decoration: none;
  color: #ffffff;
}
.page-header-top-menu-list-item-link :last-child {
  margin: 0;
}
.page-header-top-menu-list-item-link:hover {
  color: #c7b299;
}
.page-header-top-menu-list-item-link:active {
  color: #ffffff;
}
.page-header-top-basket {
  color: #ffffff;
  margin: 0 28px 0 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  box-sizing: border-box;
}
.page-header-top-basket-icon {
  fill: currentColor;
}
.page-header-top-basket:hover {
  color: #c7b299;
}
.page-header-top-basket:active {
  color: #ffffff;
}
.page-header-top-search {
  color: #ffffff;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  box-sizing: border-box;
}
.page-header-top-search-icon {
  fill: currentColor;
}
.page-header-top-search:hover {
  color: #c7b299;
}
.page-header-top-search:active {
  color: #ffffff;
}
.page-header-bot {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.page-header-bot-switchleft {
  max-width: 40px;
  width: 100%;
  height: 73px;
  opacity: 0.5;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}
.page-header-bot-switchleft-svg {
  fill: currentColor;
}
.page-header-bot-switchleft:hover {
  color: #d3c1ad;
}
.page-header-bot-switchleft:active {
  color: #ffffff;
}
.page-header-bot-box {
  width: 640px;
  text-align: center;
}
.page-header-bot-box-topttl {
  font-family: raleway;
  font-weight: 500;
  font-size: 36px;
  color: #ffffff;
  margin: 0 0 14px 0;
}
.page-header-bot-box-mainttl {
  font-family: raleway;
  font-weight: 800;
  font-size: 52px;
  color: #ffffff;
  line-height: 1.2;
  margin: 0 0 19px 0;
}
.page-header-bot-box-txt {
  font-family: montserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 0 52px 0;
}
.page-header-bot-box-btn {
  max-width: 170px;
  width: 100%;
  height: 53px;
  background-color: #998675;
  border-radius: 3px;
  font-family: realeway;
  font-weight: 800;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
  border: 0;
  cursor: pointer;
}
.page-header-bot-box-btn:hover {
  color: #000000;
  background-color: #c4b9b0;
}
.page-header-bot-box-btn:active {
  color: #ffffff;
  background-color: #998675;
  border: 0;
}
.page-header-bot-switchright {
  max-width: 40px;
  width: 100%;
  height: 73px;
  opacity: 0.5;
  border: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}
.page-header-bot-switchright-svg {
  fill: currentColor;
}
.page-header-bot-switchright:hover {
  color: #d3c1ad;
}
.page-header-bot-switchright:active {
  color: #ffffff;
}
.page-header-bot-pagination {
  width: 100%;
  margin: 329px 0 0 0;
  display: flex;
  justify-content: center;
}
.page-header-bot-pagination-item {
  display: block;
  width: 11px;
  height: 11px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid transparent;
  margin: 0 10px 0 0;
  cursor: pointer;
}
.page-header-bot-pagination-item:last-child {
  margin: 0;
}
.page-header-bot-pagination-item:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #d3c1ad;
  transform: scale(1.2);
}
.page-header-bot-pagination-item:active {
  background-color: #ffffff;
}
/*----- end header -----*/
/*----- main -----*/
/*----- instruments -----*/
.instruments {
  width: 100%;
  padding: 80px 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.instruments-card {
  max-width: 266px;
  width: 100%;
  margin: 0 34px 0 0;
  text-align: center;
  color: #555555;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.instruments-card-svg {
  fill: currentColor;
}
.instruments-card-tittle {
  width: 100%;
  font-family: Raleway;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.2;
  margin: 30px 0 19px 0;
}
.instruments-card-txt {
  font-family: montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #8c8c8c;
  margin: 0 0 30px 0;
}
.instruments-card:last-child {
  margin: 0;
}
.instruments-card:after {
  content: '';
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}
.instruments-card:hover .instruments-card-svg {
  color: #c7b299;
}
.instruments-card:hover .instruments-card-tittle {
  color: #c7b299;
}
.instruments-card:hover:after {
  background-color: #c7b299;
}
/*----- end instruments -----*/
/*----- realization -----*/
.realization {
  width: 100%;
  padding: 83px 0 0 0;
  box-sizing: border-box;
  background-color: #fbfaf8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.realization-tittle {
  width: 100%;
  text-align: center;
  font-family: raleway;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  color: #555555;
  margin: 0 0 24px 0;
}
.realization-text {
  max-width: 757px;
  width: 100%;
  text-align: center;
  font-family: montserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
  margin: 0 0 40px 0;
}
.realization-box {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.realization-box-img-left {
  max-width: 770px;
  width: 100%;
  height: 400px;
  position: relative;
  top: 0;
  left: 540px;
}
.realization-box-img-center {
  max-width: 770px;
  width: 100%;
  height: 482px;
  position: relative;
  top: 0;
  z-index: 3;
}
.realization-box-img-right {
  max-width: 770px;
  width: 100%;
  height: 400px;
  position: relative;
  top: 0;
  right: 540px;
}
/*----- end realization -----*/
/*----- Multipurpose (mpp) -----*/
.mpp {
  width: 100%;
  padding: 48px 0 50px 0;
  box-sizing: border-box;
  background-color: #f4f5f8;
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.mpp-wrp {
  max-width: 530px;
  width: 100%;
  margin: 0 470px 0 0;
}
.mpp-wrp-tittle {
  font-family: raleway;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  color: #ffffff;
  margin: 0 0 8px 0;
}
.mpp-wrp-tittle span {
  font-family: raleway;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  color: #c7b299;
}
.mpp-wrp-text {
  font-family: montserrat;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  color: #615855;
  margin: 0;
}
.mpp-btn {
  max-width: 170px;
  width: 100%;
  height: 50px;
  background-color: #998675;
  border-radius: 3px;
  border: 0;
  font-family: raleway;
  font-weight: 800;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.mpp-btn:hover {
  color: #000000;
  background-color: #c4b9b0;
}
.mpp-btn:active {
  color: #ffffff;
  background-color: #998675;
  border: 0;
}
/*----- end multipurpose (mpp) -----*/
/*----- Projects -----*/
.projects {
  width: 100%;
  padding: 81px 200px 80px 200px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.projects-tittle {
  width: 100%;
  text-align: center;
  margin: 0 0 24px 0;
  font-family: raleway;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  color: #555555;
}
.projects-text {
  max-width: 757px;
  width: 100%;
  text-align: center;
  margin: 0 0 40px 0;
  font-family: montserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
}
.projects-list {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin: 0 0 40px 0;
  display: flex;
  justify-content: center;
}
.projects-list-item {
  list-style-type: none;
  margin: 0 10px 0 0;
}
.projects-list-item-btn {
  width: 120px;
  height: 32px;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(17, 17, 17, 0);
  border: 1px solid #ebebeb;
  border-radius: 3px;
  font-family: montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #8c8c8c;
  cursor: pointer;
}
.projects-list-item-btn:hover {
  background-color: #998675;
  color: #ffffff;
}
.projects-list-item-btn:active {
  background-color: #ffffff;
  color: #998675;
}
.projects-list-item:first-child button {
  width: 70px;
}
.projects-list-item:last-child button {
  width: 135px;
}
.projects-list-item:last-child {
  margin: 0;
}
.projects-card {
  max-width: 370px;
  width: 100%;
  min-height: 337px;
  margin: 0 30px 30px 0;
  position: relative;
}
.projects-card-img {
  max-width: 370px;
  width: 100%;
  height: 237px;
  display: block;
}
.projects-card-wrp {
  background-color: #fbfaf8;
  padding: 30px 0 27px 28px;
  box-sizing: border-box;
  position: relative;
}
.projects-card-wrp:before {
  content: '';
  position: absolute;
  border: 15px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  top: -25px;
  left: 19px;
}
.projects-card-wrp-heading {
  font-family: raleway;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #c7b299;
  margin: 0 0 14px 0;
}
.projects-card-wrp-text {
  font-family: montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #d1d1d1;
  margin: 0;
}
.projects-card:hover .projects-card-img {
  filter: brightness(30%);
}
.projects-card:hover .projects-card-wrp {
  background-color: #362f2d;
}
.projects-card:hover .projects-card-wrp:before {
  border-bottom: 10px solid #362f2d;
}
.projects-card:hover .projects-card-wrp-heading {
  color: #ffffff;
}
.projects-card:hover .projects-card-wrp-text {
  color: #c7b299;
}
.projects-card:hover .projects-card-btn-link {
  display: block;
  color: #ffffff;
  cursor: pointer;
}
.projects-card:hover .projects-card-btn-search {
  display: block;
  color: #ffffff;
  cursor: pointer;
}
.projects-card:hover .projects-card-btn-link-svg,
.projects-card-btn-search-svg {
  fill: currentColor;
}
.projects-card-btn-link,
.projects-card-btn-search {
  max-width: 26px;
  width: 100%;
  height: 26px;
  display: none;
  position: absolute;
  top: 106px;
  padding: 0;
  box-sizing: border-box;
  background: none;
  border: none;
}
.projects-card-btn-link {
  left: 144px;
}
.projects-card-btn-search {
  right: 146px;
}
.projects-card-btn-link-svg:hover,
.projects-card-btn-search-svg:hover {
  color: #c7b299;
}
.projects-card-btn-link-svg:active,
.projects-card-btn-search-svg:active {
  color: #ffffff;
}
.projects-box {
  width: 100%;
  text-align: center;
}
.projects-box-btn {
  max-width: 170px;
  width: 100%;
  height: 50px;
  background-color: #998675;
  border-radius: 3px;
  border: 0;
  font-family: Raleway;
  font-weight: 800;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.projects-box-btn:hover {
  color: #000000;
  background-color: #c4b9b0;
}
.projects-box-btn:active {
  color: #ffffff;
  background-color: #998675;
  border: 0;
}
/*----- end Projects -----*/
/*----- Video ----*/
.video {
  max-width: 1920px;
  width: 100%;
  position: relative;
  display: flex;
}
.video-content {
  width: 100%;
  object-fit: cover;
}
.video-wrp {
  max-width: 552px;
  width: 100%;
  position: absolute;
  text-align: center;
  top: 210px;
  left: 685px;
}
.video-wrp-btn {
  display: flex;
  margin: 0 auto;
  max-width: 100px;
  width: 100%;
  min-height: 100px;
  height: 100%;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
}
.video-wrp-btn-svg {
  margin: auto;
  fill: #ffffff;
}
.video-wrp-btn-svg:hover {
  fill: #cccccc;
}
.video-wrp-btn-svg:active {
  fill: #ffffff;
}
.video-wrp-tittle {
  font-family: raleway;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.2;
  color: #ffffff;
  margin: 44px 0 29px 0;
}
.video-wrp-txt {
  font-family: montserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  margin: 0 0 40px 0;
}
.video-wrp-time {
  font-family: montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #c7b299;
}
/*-----end Video -----*/
/*----- Mobile -----*/
.mobile {
  max-width: 1920px;
  width: 100%;
  background-color: #fbfaf8;
  padding: 195px 0 183px 0;
  box-sizing: border-box;
  background-image: url(../img/bg_mobile_image.png);
  background-position: 30%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
}
.mobile-desc {
  max-width: 657px;
  width: 100%;
  margin-right: 388px;
}
.mobile-desc-tittle {
  font-family: raleway;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  color: #555555;
  margin: 0 0 40px 0;
}
.mobile-desc-txt {
  font-family: montserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
  margin: 0 0 45px 0;
}
.mobile-desc-list {
  list-style-type: none;
  font-family: montserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: #8c8c8c;
  margin: 0 0 0 50px;
  padding: 0;
  box-sizing: border-box;
}
.mobile-desc-list-item {
  padding-left: 50px;
  box-sizing: border-box;
  position: relative;
  margin: 0 0 12px 0;
}
.mobile-desc-list-item:before {
  content: '';
  display: block;
  position: absolute;
  width: 21px;
  height: 21px;
  background-image: url(../img/check.png);
  background-position: center;
  background-repeat: no-repeat;
  top: 5px;
  left: 0;
}
.mobile-desc-list-item:last-child {
  margin: 0;
}
/*----- end Mobile -----*/
/*----- Statistic -----*/
.statistic {
  max-width: 1920px;
  width: 100%;
  padding: 69px 0 60px 0;
  box-sizing: border-box;
  background-color: #f4f5f8;
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.statistic-wrp {
  max-width: 140px;
  width: 100%;
  margin: 0 73px 0 0;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statistic-wrp-svg {
  fill: #c7b299;
  margin: 0 0 30px 0;
}
.statistic-wrp-number {
  display: block;
  font-family: montserrat;
  font-weight: 200;
  font-size: 48px;
  line-height: 36px;
  margin: 0 0 21px 0;
}
.statistic-wrp-txt {
  font-family: montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #c7b299;
  margin: 0 0 30px 0;
}
.statistic-wrp:after {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  top: 0;
  left: 0;
}
.statistic-wrp:last-child {
  margin: 0;
}
/*----- end Statistic -----*/
/* ----- Posts -----*/
.posts {
  max-width: 1920px;
  width: 100%;
  padding: 82px 0 80px 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.posts-tittle {
  width: 100%;
  text-align: center;
  font-family: raleway;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  color: #555555;
  margin: 0 0 30px 0;
}
.posts-txt {
  max-width: 757px;
  width: 100%;
  text-align: center;
  font-family: montserrat;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
  margin: 0 581.5px 40px 581.5px;
}
.posts-card {
  max-width: 370px;
  width: 100%;
  margin: 0 30px 40px 0;
  background-color: rgba(119, 119, 119, 0);
  border: 1px solid #f8f8f8;
  display: flex;
  flex-direction: column;
  position: relative;
}
.posts-card-img {
  width: 370px;
  height: 220px;
}
.posts-card-date {
  display: block;
  max-width: 50px;
  width: 100%;
  padding: 9px 10px 9px 11px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #363636;
  border-radius: 3px 3px 0px 0px;
  position: absolute;
  font-family: montserrat;
  font-weight: 300;
  font-size: 24px;
  line-height: 20px;
  color: #ffffff;
  top: 20px;
  left: 20px;
}
.posts-card-month {
  max-width: 50px;
  width: 100%;
  padding: 7px 13px 6px 14px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #252525;
  border-radius: 0px 0px 3px 3px;
  position: absolute;
  font-family: roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  top: 55px;
  left: 20px;
}
.posts-card-pagination {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 185px;
  left: 0;
}
.posts-card-pagination-item {
  display: block;
  width: 11px;
  height: 11px;
  background-color: none;
  border-radius: 50%;
  border: 1px solid transparent;
  margin: 0 10px 0 0;
  cursor: pointer;
}
.posts-card-pagination-item:last-child {
  margin: 0;
}
.posts-card-pagination-item:hover {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #d3c1ad;
  transform: scale(1.2);
}
.posts-card-pagination-item:active {
  background-color: #ffffff;
}
.posts-card-wrp {
  padding: 30px 44px 33px 29px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.posts-card-wrp-heading {
  font-family: raleway;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #555555;
  margin: 0 0 19px 0;
}
.posts-card-wrp-txt {
  font-family: montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0 0 27px 0;
}
.posts-card-wrp-link {
  font-family: montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #c7b299;
  text-decoration: none;
  position: relative;
  padding: 0 14px 0 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.posts-card-wrp-link::after {
  content: '';
  display: block;
  position: absolute;
  border: 6px solid transparent;
  border-left: 7px solid #c7b299;
  top: 0;
  right: -9px;
}
.posts-card-wrp-link:hover {
  color: #806647;
}
.posts-card-wrp-link:active {
  color: #c7b299;
}
.posts-card-wrp-link:hover::after {
  content: '';
  display: block;
  position: absolute;
  border: 6px solid transparent;
  border-left: 7px solid #806647;
  top: 0;
  right: -9px;
}
.posts-card-wrp-link:active::after {
  content: '';
  display: block;
  position: absolute;
  border: 6px solid transparent;
  border-left: 7px solid #c7b299;
  top: 0;
  right: -9px;
}
.posts-card:hover .posts-card-img {
  filter: brightness(30%);
}
.posts-card:hover .posts-card-date {
  background-color: #c7b299;
  color: #ffffff;
}
.posts-card:hover .posts-card-month {
  background-color: #a48d72;
  color: #ffffff;
}
.posts-card:hover .posts-card-wrp {
  background-color: #362f2d;
}
.posts-card:hover .posts-card-wrp-heading {
  color: #c7b299;
}
.posts-card:hover .posts-card-wrp-txt {
  color: #ffffff;
}
.posts-card:nth-child(5) {
  margin: 0 0 40px 0;
}
.posts-wrp {
  width: 100%;
  text-align: center;
}
.posts-wrp-btn {
  max-width: 22px;
  width: 100%;
  height: 22px;
  border: none;
  background-color: transparent;
  border-radius: 11px;
  border-color: #d1d1d1;
  cursor: pointer;
  margin: 0 8px 0 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #d1d1d1;
}
.posts-wrp-btn:last-child {
  margin: 0;
}
.posts-wrp-btn-svg {
  fill: currentColor;
}
.posts-wrp-btn:hover {
  color: #c7b299;
}
.posts-wrp-btn:active {
  color: #d1d1d1;
}
/* ----- end Posts -----*/
/*----- Partners -----*/
.partners {
  width: 100%;
  padding: 140px 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url(../img/bg_partners.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.partners-link {
  text-decoration: none;
  margin: 0 90px 0 0;
}
.partners-link:last-child {
  margin: 0;
}
.partners-link:hover {
  filter: brightness(60%);
}
.partners-link:active {
  filter: none;
}
/*----- end Partners -----*/
/*-----end Main -----*/
/*----- Footer -----*/
.footer-top {
  max-width: 1920px;
  width: 100%;
  background-color: #191919;
  padding: 80px 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.footer-top-preview {
  max-width: 258px;
  width: 100%;
  margin: 0 43px 0 0;
  align-items: flex-start;
}
.footer-top-preview-logo {
  text-decoration: none;
  font-family: raleway;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: -0.04em;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin: 0 0 29px 0;
}
.footer-top-preview-logo-icon {
  fill: currentColor;
}
.footer-top-preview-logo:hover {
  color: #c7b299;
}
.footer-top-preview-logo:active {
  color: #ffffff;
}
.footer-top-preview-excerpt {
  font-family: montserrat;
  font-weight: 300;
  font-size: 14px;
  font-family: Montserrat;
  line-height: 24px;
  color: #555555;
  margin: 0 0 33px 0;
}
.footer-top-preview-link {
  font-family: montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #d1d1d1;
  text-decoration: none;
  position: relative;
  padding: 0 14px 0 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.footer-top-preview-link::after {
  content: '';
  display: block;
  position: absolute;
  border: 6px solid transparent;
  border-left: 7px solid #d1d1d1;
  top: 0;
  right: -9px;
}
.footer-top-preview-link:hover {
  color: #c7b299;
}
.footer-top-preview-link:active {
  color: #d1d1d1;
}
.footer-top-preview-link:hover::after {
  content: '';
  display: block;
  position: absolute;
  border: 6px solid transparent;
  border-left: 7px solid #c7b299;
  top: 0;
  right: -9px;
}
.footer-top-preview-link:active::after {
  content: '';
  display: block;
  position: absolute;
  border: 6px solid transparent;
  border-left: 7px solid #d1d1d1;
  top: 0;
  right: -9px;
}
.footer-top-wrp {
  max-width: 270px;
  width: 100%;
  margin: 20px 30px 0 0;
}
.footer-top-wrp-tittle {
  font-family: raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #ffffff;
  margin: 0 0 14px 0;
}
.footer-top-wrp-link {
  display: block;
  text-decoration: none;
  margin: 19px 0 21px 0;
  font-family: montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
}
.footer-top-wrp-link:last-child {
  margin: 0;
}
.footer-top-wrp-link-date {
  display: block;
  margin: 0 0 10px 0;
  font-family: montserrat;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #363636;
}
.footer-top-wrp-link:hover {
  color: #c7b299;
}
.footer-top-wrp-link:hover .footer-top-wrp-link-date {
  color: #ffffff;
}
.footer-top-wrp-link-text {
  color: #27a2d3;
}
.footer-top-wrp-link-bit {
  color: #959595;
}
.footer-top-wrp-link:hover .footer-top-wrp-link-bit {
  color: #806647;
}
.footer-top-wrp-link:active .footer-top-wrp-link-date {
  color: #363636;
}
.footer-top-wrp-link:active .footer-top-wrp-link-bit {
  color: #959595;
}
.footer-top-wrp-link:active {
  color: #555555;
}
.footer-top-wrp-widget {
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-top-wrp-widget-img {
  max-width: 130px;
  width: 100%;
  margin: 0 0 10px 0;
}
.footer-top-wrp-widget-img:hover {
  filter: brightness(30%);
}
.footer-top-wrp-hr {
  max-width: 270px;
  width: 100%;
  height: 2px;
  border: none;
  color: #252525;
  background-color: #252525;
}
.footer-top-wrp:last-child {
  margin: 20px 0 0 0;
}
.footer-bot {
  max-width: 1920px;
  width: 100%;
  background-color: #111111;
  padding: 45px 0 52px 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-bot-list {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none;
  display: flex;
  margin: 0 320px 0 0;
}
.footer-bot-list:last-child {
  margin: 0;
}
.footer-bot-list-item {
  margin: 0 10px 0 0;
  font-family: montserrat;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #555555;
  position: relative;
  padding: 0 10px 0 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.footer-bot-list-item::after {
  content: '|';
  display: block;
  color: #252525;
  top: 0;
  right: -2px;
  position: absolute;
}
.footer-bot-list-item:last-child {
  margin: 0;
}
.footer-bot-list-item:last-child::after {
  content: none;
}
.footer-bot-list-item-link {
  text-decoration: none;
  color: #555555;
}
.footer-bot-list-item-wax {
  color: #959595;
  cursor: pointer;
}
.footer-bot-list-item-wax:hover {
  color: #806647;
}
.footer-bot-list-item-wax:active {
  color: #959595;
}
.footer-bot-list-item-txt {
  color: #959595;
}
.footer-bot-list-item:hover .footer-bot-list-item-link {
  color: #c7b299;
}
.footer-bot-list-item:hover .footer-bot-list-item-txt {
  color: #806647;
}
.footer-bot-list-item:active .footer-bot-list-item-link {
  color: #555555;
}
.footer-bot-list-item:active .footer-bot-list-item-txt {
  color: #959595;
}
/*-----end Footer -----*/
/*---- media -----*/
@media (max-width: 576px) {
  .page-header-bot,
  .video,
  .realization,
  .footer-top,
  .mobile {
    display: none;
  }
  .page-header {
    padding: 34px 31px 71px 27px;
    box-sizing: border-box;
    background-position: center;
  }
  .page-header-top-basket,
  .page-header-top-search {
    display: none;
  }
  .page-header-top {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .page-header-top-logo {
    margin: 0;
  }
  .page-header-top-menu {
    margin: 0;
    align-self: flex-end;
  }
  .page-header-top-menu-btn {
    display: block;
    width: 70px;
    height: 43px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .page-header-top-menu-icon {
    width: 100%;
    height: 7px;
    background-color: #ffffff;
    position: relative;
    transition-duration: 0.25s;
  }
  .page-header-top-menu-icon::after,
  .page-header-top-menu-icon::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 7px;
    background-color: #ffffff;
    transition-duration: .25s;
  }
  .page-header-top-menu-icon::after {
    top: -18px;
  }
  .page-header-top-menu-icon::before {
    top: 18px;
  }
  .page-header-top-menu-list {
    height: 0;
    visibility: hidden;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
  }
  .page-header-top-menu-list-item {
    text-align: center;
    background-color: none;
    margin: 5px 0 0 0;
  }
  .page-header-top-menu-checkbox:checked ~ .page-header-top-menu-list {
    height: auto;
    visibility: visible;
    margin-top: 20px;
  }
  .page-header-top-menu-checkbox:checked ~ .page-header-top-menu-btn .page-header-top-menu-icon {
    background: transparent;
  }
  .page-header-top-menu-checkbox:checked ~ .page-header-top-menu-btn .page-header-top-menu-icon::before,
  .page-header-top-menu-checkbox:checked ~ .page-header-top-menu-btn .page-header-top-menu-icon::after {
    top: 0;
  }
  .page-header-top-menu-checkbox:checked ~ .page-header-top-menu-btn .page-header-top-menu-icon::after {
    transform: rotate(-45deg);
  }
  .page-header-top-menu-checkbox:checked ~ .page-header-top-menu-btn .page-header-top-menu-icon::before {
    transform: rotate(45deg);
  }
  .instruments {
    padding: 11px 0 30px 0;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
  }
  .instruments-card {
    margin: 32px 0 0 0;
  }
  .instruments-card:last-child {
    margin: 32px 0 0 0;
  }
  .mpp {
    padding: 57px 0 56px 0;
    flex-direction: column;
  }
  .mpp-wrp {
    margin: 0 0 44px 0;
  }
  .projects {
    padding: 49px 0;
  }
  .projects-text {
    font-family: myriadpro;
    font-weight: 400;
    font-size: 16.7px;
    line-height: 20px;
  }
  .projects-list {
    margin-bottom: 42px;
  }
  .projects-list-item {
    margin: 0 8px 0 0;
  }
  .projects-list-item-btn {
    width: 112px;
    height: 30px;
  }
  .projects-list-item:first-child button {
    width: 66px;
  }
  .projects-list-item:last-child button {
    width: 125px;
  }
  .projects-card {
    margin: 0 0 64px 0;
  }
  .statistic {
    padding: 87px 0 66px 0;
  }
  .statistic-wrp {
    margin: 0 36px 51px 36px;
  }
  .statistic-wrp:nth-child(3),
  .statistic-wrp:nth-child(4) {
    margin-bottom: 65px;
  }
  .posts {
    padding: 45px 0;
  }
  .posts-tittle {
    margin-bottom: 22px;
  }
  .posts-txt {
    font-family: myriadpro;
    font-weight: 400;
    font-size: 16.7px;
    line-height: 20px;
    margin: 0 0 51px 0;
  }
  .posts-card {
    margin: 0 0 61px 0;
  }
  .partners {
    padding: 69px 0 98px 0;
    flex-direction: column;
  }
  .partners-link {
    margin: 0 0 87px 0;
  }
  .partners:nth-child(3) {
    margin: 0 0 78px 0;
  }
  .footer-bot {
    padding: 62px 0 60px 0;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .footer-bot-list {
    margin: 0;
  }
  .footer-bot-list:last-child {
    margin-bottom: 33px;
  }
  .footer-bot-list-item {
    font-family: myriadpro;
    font-weight: 400;
    font-size: 25px;
    margin: 0;
    padding: 0;
  }
  .footer-bot-list-item-wax {
    margin-right: 30px;
  }
  .footer-bot-list-item::after {
    right: 11px;
  }
  .footer-bot-list-item:nth-child(4) {
    display: none;
  }
  .footer-bot-list-item-link {
    margin-right: 30px;
  }
  .footer-bot-list-item-link:nth-child(2) {
    margin-right: 0;
  }
  .footer-bot:last-child .footer-bot-list-item:last-child .footer-bot-list-item-link {
    margin: 0;
  }
}
