@import url(mixin.less);

.mobile {
    width: 100%;
    background-color: #fbfaf8;
    padding: 195px 388px 183px 875px;
    box-sizing: border-box;
    background-image: url(../img/bg_mobile_image.png);
    background-position: 30%;
    background-repeat: no-repeat;

    &-desc {
        max-width: 657px;
        width: 100%;

        &-tittle {
            .text(raleway, 600, 30px);
            line-height: 1.2;
            color: #555555;
            margin: 0 0 40px 0;
        }

        &-txt {
            .text(montserrat, 300, 16px);
            line-height: 28px;
            color: #8c8c8c;
            margin: 0 0 45px 0;
        }

        &-list {
            list-style-type: none;
            .text(montserrat, 300, 16px);
            line-height: 32px;
            color: #8c8c8c;
            margin: 0 0 0 50px;
            padding: 0;
            box-sizing: border-box;

            &-item {
                padding-left: 50px;
                box-sizing: border-box;
                position: relative;
                margin: 0 0 12px 0;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 21px;
                    height: 21px;
                    background-image: url(../img/check.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    top: 5px;
                    left: 0;
                }

                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}